/* Reset default browser styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Page background and text colors */
body {
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark gray text */
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #3498db; /* Blue header background */
  padding: 10px 0;
}

#banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navElement {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
}


.navElement a {
  text-decoration: none;
  color: #fff; /* White text for navigation links */
  font-weight: bold;
}

/* Main content styles */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* White background for main content */
  border-radius: 8px; /* Rounded corners for the main content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

table {
  width: 100%;
}

h1 {
  color: #3498db; /* Blue heading color */
}

#profile {
  width: 450px; /* Adjust the size as needed */
  height: auto;
  border-radius: 10px; /* Rounded corners for the profile image */
  margin-left: 30px;
}

/* Button styles */
.btn {
  padding: 10px 20px;
  background-color: #3498db; /* Blue button background */
  color: #fff; /* White button text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  
}

.btn:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

/* Footer styles (customize as needed) */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #3498db; /* Blue footer background */
  color: #fff; /* White footer text */
}

/* Add some spacing between the paragraphs */
.paragraphs {
  vertical-align: top; /* Align from the top */
}

/* Style the paragraphs */
.welcome-paragraph,
.mission-paragraph {
  width: 85%; /* Adjust the width as needed */
  margin-right: 10%; /* Add some spacing between the image and paragraphs */
  font-size: 20px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Adjust the margin-bottom as needed */
  margin-top: 30px;
}



/* Ensure that the paragraphs do not stretch too wide on smaller screens */
@media (max-width: 768px) {
  .welcome-paragraph,
  .mission-paragraph {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0; /* No right margin on smaller screens */
  }
}

/* Responsive adjustments (customize as needed) */
@media (max-width: 768px) {
  .navElement {
    display: block;
    margin: 10px 0;
  }
}
