<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/projectsStylesheet.css" />
</head>
<body>
    <header>
        <table id="banner">
            <tr>
                <td>
                    <a href="/"><img id="logo" src="/images/logo.png" alt="logo"></a>
                </td>
                <td>
                    <nav>
                        <ul id="navBar">
                            <li class="navElement"><a href="/">Home</a></li>
                            <li class="navElement"><a href="/about">About me</a></li>
                            <li class="navElement"><a href="/projects">Projects</a></li>
                            <li class="navElement"><a href="/services">Services</a></li>
                            <li class="navElement"><a href="/contact">Contact</a></li> 
                        </ul>              
                    </nav>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <h1>Projects</h1>
        <table id="tableProjects">
            <tr>
                <td>
                    <img id="project1" src="/images/project1.png" alt="project1">
                </td>
                <td>
                    <p>
                        <%= project1Description %>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="project2" src="/images/project2.png" alt="project2">
                </td>
                <td>
                    <p>
                        <%= project2Description %>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img id="project3" src="/images/project3.png" alt="project3">
                </td>
                <td>
                    <p>
                        <%= project3Description %>
                    </p>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>