<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/servicesStylesheet.css" />
</head>
<body>
    <header>
        <table id="banner">
            <tr>
                <td>
                    <a href="/"><img id="logo" src="/images/logo.png" alt="logo"></a>
                </td>
                <td>
                    <nav>
                        <ul id="navBar">
                            <li class="navElement"><a href="/">Home</a></li>
                            <li class="navElement"><a href="/about">About me</a></li>
                            <li class="navElement"><a href="/projects">Projects</a></li>
                            <li class="navElement"><a href="/services">Services</a></li>
                            <li class="navElement"><a href="/contact">Contact</a></li> 
                        </ul>              
                    </nav>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <h1>Services</h1>
        <div>
            <img id="servicesImage" src="/images/services.png" alt="logo">
        </div>
        <ul id="serviceList">
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Provide software development services using modern Java SE, Apache Maven, Junit, and Git.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Offer expertise in working with Relational Databases, particularly Oracle Database.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Provide Shell scripting for various automation tasks.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Develop web applications using the Spring Framework and Java EE (JEE).</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Offer .NET Framework development services.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Develop interactive and dynamic web interfaces using JavaScript, HTML, and CSS.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Create desktop applications using JavaFX.</li>
            <li class="serviceElement"><img src="/images/arrow.png" alt="Service Icon 1" class="serviceIcon">Apply Functional Programming concepts to develop efficient and maintainable code.</li>
        </ul>
    </main>
</body>
</html>